@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DMSans";
    src: url(src/assets/Fonts/DMSans-Font.ttf) format("truetype");
  }
  @font-face {
    font-family: "Sora";
    src: url(src/assets/Fonts/Sora-Font.ttf) format("truetype");
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow-y: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  transition: all 0.3s ease-in-out;
}

#CommentsCardRow {
  transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #082198;
  border-radius: 10px;
}
h1 {
  line-height: 70px !important;
}

body {
  overflow-x: hidden !important;
}

@media (max-width: 500px) {
  h1 {
    line-height: 50px !important;
  }
}

p {
  color: #00000080;
}
